{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header-user.html.twig" %}
{% endblock %}

{% block main %}
    <main>
        <div class="container py-5">
            <h2>😓 J'ai remboursé 😓</h2>

            {% for item in totals.given %}
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">À {{ item.username }}: {{ item.total_amount }} €</h5>
                    </div>
                </div>
            {% else %}
                <p>Rien pour le moment.</p>
            {% endfor %}
        </div>

        <div class="container py-5">
            <h2>🥰 On m'a remboursé: 🥰</h2>
            
            {% for item in totals.received %}
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.total_amount }} € </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Montant: {{ item.total_amount }}</h6>
                        <p class="card-text">De: {{ item.username }}</p>
                    </div>
                </div>
            {% else %}
                <p>Rien pour le moment.</p>
            {% endfor %}
        </div>
    </main>
{% endblock %}